@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

** {
  box-sizing: border-box;
}

body {
background: url("imagenes/corazon-alas.jpg") no-repeat center center fixed;
 background-attachment: fixed;
 background-size: cover;
 margin: 0;
  margin:0px 0 0px 0;
  font-family: 'Indie Flower', cursive;
}

.encabezado {
  border : 6px inset #B22222;
  background-color: #CC0066;
  text-align : center;
  padding : 20px;
  font-size: 30px;
}

header {
  margin:0px auto 0px auto;
}

section {
  margin:0px auto 0px auto;
  padding: 10px;
}


.text {
  text-align : center;
  padding : 1%;
  font-size: 20px;
}


textarea {
  background-color: #FA8072;
  border: none;
  text-align : center;
  border-radius: 10px;
  margin-top: 0;
  font-size: 85%;
  height: 140px;
  width: 80%;
  margin-left: 10%;
  box-sizing: border-box;
  resize: none;
  padding: 0;
  display: block;
  box-shadow: 0 0 40px #03f;
}

input[type=number] {
  background-color: #FFA07A;
  width: 30%;
  height: 40px;
  border:1px solid:#2F4F4F;
  border-radius: 9px;
  margin:0;
  outline: none;
  text-align: center;
  padding: 0;
  box-sizing:border-box;
}

button {
  color: #FFA07A !important;
  width: 100px;
  height: 40px;
  font-size: 80%;
  font-weight: 500%;
  padding: 0;
  background: #696969;
  position: relative;
  border: 2px solid #696969;
  border-radius:10px;
  cursor:pointer;
  outline: 1px solid;
  outline-color: rgba(49, 138, 172, 0.4);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

button:hover {
  box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #FFA07A;
  border-shadow:
}

@media screen and (max-width: 500px) {
  body {
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
  }
  .encabezado {
    height: 80px;
  }
  h1, h2{
    font-size: large;
  }
  input[type=number]{
    width: 70%;
